main
	&#main-content
		&.main-content
			background-color white
			box-shadow 0 12.1px 10px rgba(0, 0, 0, 0.035), 0 97px 80px rgba(0, 0, 0, 0.07)
			display flex
			padding 2rem
			flex-flow column wrap
			section
				width 100%
				
						
+above(l)
	main
		&#main-content
			&.main-content
				flex-flow row nowrap
				section
					width 50%
					&.list-smurf
						order -1
						h2
							margin-top 0